In [1]:
import pandas as pd
import json

In [2]:
with open('./data/all_id_new.json', 'r') as f:
    all_id = json.load(f, encoding='utf-8')

In [3]:
len(all_id)

11763764

In [4]:
rev_ref = dict((idx, {'id': iid, 'cited':[], 'n_ref':0}) for idx, iid in enumerate(all_id))

In [5]:
id_idx = dict((iid, idx) for idx, iid in enumerate(all_id))

In [6]:
for file in range(0, 9):
    print('Open file', file)
    with open('./data/cp_ref_%d.json' % file, 'r') as f:
        obj = json.load(f, encoding='utf-8')
        print('total', len(obj))
        for idx, iid in enumerate(obj):
            if idx % 200000 == 0:
                print(idx)
            if iid in id_idx:
                true_idx = id_idx[iid]                
                cnt = 0
                for rid in obj[iid]:
                    if rid in id_idx:
                        rev_ref[id_idx[rid]]['cited'].append(true_idx)
                        cnt += 1
                rev_ref[true_idx]['n_ref'] = cnt

Open file 0
total 1167272
0
200000
400000
600000
800000
1000000
Open file 1
total 1165576
0
200000
400000
600000
800000
1000000
Open file 2
total 1167788
0
200000
400000
600000
800000
1000000
Open file 3
total 1164303
0
200000
400000
600000
800000
1000000
Open file 4
total 1164586
0
200000
400000
600000
800000
1000000
Open file 5
total 1163814
0
200000
400000
600000
800000
1000000
Open file 6
total 1164947
0
200000
400000
600000
800000
1000000
Open file 7
total 1164958
0
200000
400000
600000
800000
1000000
Open file 8
total 361129
0
200000

In [10]:
df = pd.DataFrame.from_dict(rev_ref, orient='index').reset_index()
df.rename(columns=dict(zip(df.columns[[0]], ['nid'])),inplace=True)
df = df.set_index('nid')

In [13]:
df['cited'] = df['cited'].apply(json.dumps)

In [14]:
df.head()

,id,cited,n_ref
nid,,,
0,000000b8-7f59-49ad-b9bc-e92aa858fc37,"[877113, 1738015, 1801628, 2375682, 2398534, 2...",17
1,000001ed-d83e-44d1-a95f-4e9ac13d9a39,[],6
2,00000237-cab2-43ae-ae63-9012f15afa2c,[],2
3,00000531-60da-43d0-9112-2e4a80c6b59b,[6007977],20
4,000005eb-d9bc-421d-86bc-6dd16222d347,[10556783],0

In [15]:
df.to_csv('./data/rev_ref.csv', encoding='utf-8')

In [16]:
len(df)

11763764

In [18]:
with open('./data/cp_ref_%d.json' % 0, 'r') as f:
    obj1 = json.load(f, encoding='utf-8')

In [19]:
obj1['000000b8-7f59-49ad-b9bc-e92aa858fc37']

['0299a529-2c14-4b4d-8767-cbe46e0f364a',
 '0944c6dc-0875-452e-821a-636da2045b67',
 '0aa0ffd3-ce9b-4a53-9751-b958aebae940',
 '123014ca-20ef-4835-a733-2a1516871574',
 '1f96328c-2ef8-4862-88f1-8ec7267b5f3a',
 '21211985-3c32-4125-bce0-649a98fe3d98',
 '214bced0-4719-4841-b18e-b9f160905f15',
 '21d1db87-ec87-4694-8fa2-0f51bf4af988',
 '3372ec17-ccf6-479a-8db6-05751b6c1430',
 '3ac06386-baa2-4e19-847a-7eaf05197ab9',
 '455a9651-54e7-4692-88af-35d436ea7e0a',
 '4876dda4-803a-4886-8a8f-6b2a57369e72',
 '509e8f12-c190-46cf-990e-1d38d50a1120',
 '51e4bfe4-d62d-4e51-8fb6-dc305df23857',
 '5516349f-1513-403d-b816-ce07c798ebc1',
 '59bb8c62-1fb4-477e-b731-ccde521d9b28',
 '623828da-a1b3-443d-a80e-b05d87f4ccff',
 '6408c691-0236-40ed-b5bf-ee4fe359776f',
 '79043465-3757-42c5-ab68-16cc5246d1a8',
 '83716c19-605a-4bb8-ad8d-f1bb42b7454b',
 '84e85701-dfd6-439e-a253-c0d24567f658',
 '90076db3-8c50-4724-a618-c3bc830e86a1',
 '92b57454-2ba8-4981-97b1-1a29a65e8860',
 'aa665d64-7faa-405d-ade8-ccfaf8863fbb',
 'aab8f48d-49ff-40ad-9b33-0652059fcac0',
 'afc7da94-de77-4670-9a09-137772a653fb',
 'b4a71877-3d70-4078-aba4-a484d2756081',
 'c89e29e5-695c-4543-b25b-13a1c618a62a',
 'c99273ed-e262-4a87-85a4-153dea2a7a2b',
 'cb6c8c99-0acd-492b-9b69-30f90b8e6e8c',
 'cd6dc174-e902-4dcb-a561-cd53ab39c967',
 'd229ae02-4c4a-4396-8355-6b365f621447',
 'dca42d6f-8ae1-4e20-812b-cda008b7127f',
 'ec66681e-1fc4-4ac8-ba1f-3f29b868e452',
 'f02ce13f-0fed-40e6-b964-54323ee94c44',
 'fa87fa05-f2be-4963-b9e6-4b638196c148',
 'faacad92-4db8-4126-aec0-0c1326f5736b',
 'ffda715d-d7d2-4938-834e-56684ccdf91f']

In [24]:
id_idx['0aa0ffd3-ce9b-4a53-9751-b958aebae940']

496769

In [9]:
rev_ref[496769]

{'cited': [0,
  112214,
  1394613,
  1940273,
  4955916,
  4986387,
  5506658,
  8288503,
  8554810,
  10318174],
 'id': '0aa0ffd3-ce9b-4a53-9751-b958aebae940',
 'n_ref': 0}

In [22]:
json.loads(df.iloc[0]['cited'])[0]

877113