In [1]:
import pandas as pd
import numpy as np
import json

In [4]:
df = pd.read_csv('./data_zx/rev_ref.csv').set_index('nid')

In [6]:
df.drop(['id', 'n_ref'], axis = 1, inplace = True)

In [7]:
df.head()

                                                 cited
nid
0    [877113, 1738015, 1801628, 2375682, 2398534, 2...
1                                                   []
2                                                   []
3                                            [6007977]
4                                           [10556783]

In [8]:
df.shape

(11763764, 1)

In [10]:
df['year'] = [0] * len(df)
df.head()

                                                 cited  year
nid
0    [877113, 1738015, 1801628, 2375682, 2398534, 2...     0
1                                                   []     0
2                                                   []     0
3                                            [6007977]     0
4                                           [10556783]     0

In [23]:
type(df.index)

pandas.core.indexes.numeric.Int64Index

In [27]:
dic = dict((idx, {'cited': df.at[idx, 'cited'], 'year': 0}) for idx in df.index)

In [28]:
# dic = df.to_dict(orient = 'index')
for i, idx in enumerate(dic):
    print(dic[idx])
    if i > 5:
        break

{'cited': '[877113, 1738015, 1801628, 2375682, 2398534, 2574460, 3122433, 3392608, 3545645, 3593462, 4325752, 4787741, 4916987, 5489857, 5556256, 5615564, 6636660, 6729355, 6729360, 6887341, 6920577, 7009207, 7409995, 7617229, 7700168, 7730619, 7824727, 7825621, 7838344, 8227147, 8473347, 8631855, 9141446, 9327239, 9623822, 9761228, 10039120, 10540891, 10617720, 10866595, 11110006, 11227418, 11535220, 11693317]', 'year': 0}
{'cited': '[]', 'year': 0}
{'cited': '[]', 'year': 0}
{'cited': '[6007977]', 'year': 0}
{'cited': '[10556783]', 'year': 0}
{'cited': '[11462079]', 'year': 0}
{'cited': '[1336601, 3208618, 8110377, 8384523, 10878929, 11426033]', 'year': 0}

In [9]:
with open('./data_zx/paper_year_dic', 'r') as f:
    dic_year = json.load(f)

In [13]:
dic_year

{'0': {'year': 2009},
 '1': {'year': 2013},
 '2': {'year': 2001},
 '3': {'year': 2014},
 '4': {'year': 1996},
 '5': {'year': 1994},
 '6': {'year': 2007},
 '7': {'year': 2014},
 '8': {'year': 1991},
 '9': {'year': 2007},
 '10': {'year': 1990},
 '11': {'year': 2015},
 '12': {'year': 2015},
 '13': {'year': 1995},
 '14': {'year': 2012},
 '15': {'year': 2010},
 '16': {'year': 2007},
 '17': {'year': 1995},
 '18': {'year': 2008},
 '19': {'year': 1996},
 '20': {'year': 1957},
 '21': {'year': 2015},
 '22': {'year': 1987},
 '23': {'year': 2016},
 '24': {'year': 1988},
 '25': {'year': 2007},
 '26': {'year': 2004},
 '27': {'year': 1986},
 '28': {'year': 1989},
 '29': {'year': 1994},
 '30': {'year': 2007},
 '31': {'year': 2015},
 '32': {'year': 1996},
 '33': {'year': 2016},
 '34': {'year': 1992},
 '35': {'year': 1997},
 '36': {'year': 2012},
 '37': {'year': 2015},
 '38': {'year': 2013},
 '39': {'year': 1970},
 '40': {'year': 1998},
 '41': {'year': 2007},
 '42': {'year': 1989},
 '43': {'year': 2011},
 '44': {'year': 2002},
 '45': {'year': 1980},
 '46': {'year': 1993},
 '47': {'year': 2008},
 '48': {'year': 2011},
 '49': {'year': 2003},
 '50': {'year': 1999},
 '51': {'year': 2015},
 '52': {'year': 2013},
 '53': {'year': 2013},
 '54': {'year': 2013},
 '55': {'year': 1984},
 '56': {'year': 1998},
 '57': {'year': 1983},
 '58': {'year': 1986},
 '59': {'year': 2014},
 '60': {'year': 2013},
 '61': {'year': 1954},
 '62': {'year': 2009},
 '63': {'year': 2009},
 '64': {'year': 2009},
 '65': {'year': 1977},
 '66': {'year': 2016},
 '67': {'year': 1994},
 '68': {'year': 2005},
 '69': {'year': 1998},
 '70': {'year': 1994},
 '71': {'year': 2011},
 '72': {'year': 2013},
 '73': {'year': 1980},
 '74': {'year': 2013},
 '75': {'year': 1958},
 '76': {'year': 2004},
 '77': {'year': 2006},
 '78': {'year': 1990},
 '79': {'year': 2012},
 '80': {'year': 1976},
 '81': {'year': 2011},
 '82': {'year': 2009},
 '83': {'year': 2006},
 '84': {'year': 1998},
 '85': {'year': 2010},
 '86': {'year': 2004},
 '87': {'year': 1995},
 '88': {'year': 1995},
 '89': {'year': 2005},
 '90': {'year': 2008},
 '91': {'year': 1969},
 '92': {'year': 1994},
 '93': {'year': 2011},
 '94': {'year': 1999},
 '95': {'year': 2003},
 '96': {'year': 2013},
 '97': {'year': 1982},
 '98': {'year': 2009},
 '99': {'year': 2007},
 '100': {'year': 2010},
 '101': {'year': 1964},
 '102': {'year': 2013},
 '103': {'year': 1985},
 '104': {'year': 1999},
 '105': {'year': 2014},
 '106': {'year': 2016},
 '107': {'year': 2007},
 '108': {'year': 2010},
 '109': {'year': 1997},
 '110': {'year': 2000},
 '111': {'year': 2012},
 '112': {'year': 2007},
 '113': {'year': 2013},
 '114': {'year': 1996},
 '115': {'year': 1998},
 '116': {'year': 2014},
 '117': {'year': 1984},
 '118': {'year': 2002},
 '119': {'year': 1982},
 '120': {'year': 2012},
 '121': {'year': 1988},
 '122': {'year': 2016},
 '123': {'year': 1979},
 '124': {'year': 2012},
 '125': {'year': 2002},
 '126': {'year': 2012},
 '127': {'year': 1991},
 '128': {'year': 2011},
 '129': {'year': 2001},
 '130': {'year': 2003},
 '131': {'year': 1961},
 '132': {'year': 2015},
 '133': {'year': 1997},
 '134': {'year': 2010},
 '135': {'year': 2010},
 '136': {'year': 2011},
 '137': {'year': 2011},
 '138': {'year': 2015},
 '139': {'year': 2005},
 '140': {'year': 1988},
 '141': {'year': 1999},
 '142': {'year': 2013},
 '143': {'year': 2013},
 '144': {'year': 2010},
 '145': {'year': 2009},
 '146': {'year': 2005},
 '147': {'year': 2003},
 '148': {'year': 2008},
 '149': {'year': 2016},
 '150': {'year': 1992},
 '151': {'year': 1992},
 '152': {'year': 2017},
 '153': {'year': 2016},
 '154': {'year': 2011},
 '155': {'year': 2012},
 '156': {'year': 2011},
 '157': {'year': 2015},
 '158': {'year': 2009},
 '159': {'year': 2003},
 '160': {'year': 1984},
 '161': {'year': 1998},
 '162': {'year': 2004},
 '163': {'year': 2015},
 '164': {'year': 2012},
 '165': {'year': 2006},
 '166': {'year': 2016},
 '167': {'year': 1986},
 '168': {'year': 2013},
 '169': {'year': 1989},
 '170': {'year': 1984},
 '171': {'year': 2007},
 '172': {'year': 1994},
 '173': {'year': 1998},
 '174': {'year': 1956},
 '175': {'year': 2006},
 '176': {'year': 2005},
 '177': {'year': 1999},
 '178': {'year': 1996},
 '179': {'year': 1989},
 '180': {'year': 1995},
 '181': {'year': 2016},
 '182': {'year': 2001},
 '183': {'year': 1987},
 '184': {'year': 2016},
 '185': {'year': 2005},
 '186': {'year': 1980},
 '187': {'year': 1990},
 '188': {'year': 2008},
 '189': {'year': 2016},
 '190': {'year': 2002},
 '191': {'year': 1989},
 '192': {'year': 1969},
 '193': {'year': 2011},
 '194': {'year': 2014},
 '195': {'year': 2009},
 '196': {'year': 2007},
 '197': {'year': 2013},
 '198': {'year': 2007},
 '199': {'year': 2017},
 '200': {'year': 1998},
 '201': {'year': 1975},
 '202': {'year': 2000},
 '203': {'year': 2000},
 '204': {'year': 1984},
 '205': {'year': 2011},
 '206': {'year': 2003},
 '207': {'year': 2005},
 '208': {'year': 1993},
 '209': {'year': 2017},
 '210': {'year': 2006},
 '211': {'year': 2002},
 '212': {'year': 2010},
 '213': {'year': 1973},
 '214': {'year': 1982},
 '215': {'year': 2002},
 '216': {'year': 1998},
 '217': {'year': 1973},
 '218': {'year': 2012},
 '219': {'year': 2011},
 '220': {'year': 2012},
 '221': {'year': 1986},
 '222': {'year': 1987},
 '223': {'year': 2008},
 '224': {'year': 1995},
 '225': {'year': 1998},
 '226': {'year': 2006},
 '227': {'year': 1977},
 '228': {'year': 2000},
 '229': {'year': 1987},
 '230': {'year': 2016},
 '231': {'year': 2014},
 '232': {'year': 2006},
 '233': {'year': 2016},
 '234': {'year': 2012},
 '235': {'year': 1980},
 '236': {'year': 2010},
 '237': {'year': 2009},
 '238': {'year': 2004},
 '239': {'year': 1993},
 '240': {'year': 2001},
 '241': {'year': 2013},
 '242': {'year': 2013},
 '243': {'year': 2011},
 '244': {'year': 1978},
 '245': {'year': 2000},
 '246': {'year': 1996},
 '247': {'year': 2009},
 '248': {'year': 1984},
 '249': {'year': 2010},
 '250': {'year': 1968},
 '251': {'year': 1998},
 '252': {'year': 2003},
 '253': {'year': 2013},
 '254': {'year': 2002},
 '255': {'year': 1987},
 '256': {'year': 2007},
 '257': {'year': 2004},
 '258': {'year': 2011},
 '259': {'year': 1996},
 '260': {'year': 1992},
 '261': {'year': 1985},
 '262': {'year': 2010},
 '263': {'year': 1990},
 '264': {'year': 1993},
 '265': {'year': 2005},
 '266': {'year': 1979},
 '267': {'year': 1990},
 '268': {'year': 2011},
 '269': {'year': 2006},
 '270': {'year': 2012},
 '271': {'year': 2006},
 '272': {'year': 2007},
 '273': {'year': 1992},
 '274': {'year': 1964},
 '275': {'year': 2009},
 '276': {'year': 2016},
 '277': {'year': 1987},
 '278': {'year': 1997},
 '279': {'year': 2011},
 '280': {'year': 2003},
 '281': {'year': 2005},
 '282': {'year': 2011},
 '283': {'year': 2010},
 '284': {'year': 2013},
 '285': {'year': 2001},
 '286': {'year': 1992},
 '287': {'year': 2005},
 '288': {'year': 2008},
 '289': {'year': 1994},
 '290': {'year': 2013},
 '291': {'year': 1999},
 '292': {'year': 1995},
 '293': {'year': 2015},
 '294': {'year': 2012},
 '295': {'year': 2005},
 '296': {'year': 1989},
 '297': {'year': 2004},
 '298': {'year': 2007},
 '299': {'year': 2002},
 '300': {'year': 2006},
 '301': {'year': 2009},
 '302': {'year': 2006},
 '303': {'year': 1987},
 '304': {'year': 2009},
 '305': {'year': 1999},
 '306': {'year': 1993},
 '307': {'year': 2016},
 '308': {'year': 2005},
 '309': {'year': 2000},
 '310': {'year': 2015},
 '311': {'year': 1995},
 '312': {'year': 2002},
 '313': {'year': 1990},
 '314': {'year': 2012},
 '315': {'year': 2010},
 '316': {'year': 2004},
 '317': {'year': 2007},
 '318': {'year': 1986},
 '319': {'year': 2007},
 '320': {'year': 2010},
 '321': {'year': 2008},
 '322': {'year': 2006},
 '323': {'year': 1975},
 '324': {'year': 2010},
 '325': {'year': 1997},
 '326': {'year': 1993},
 '327': {'year': 2016},
 '328': {'year': 2008},
 '329': {'year': 2014},
 '330': {'year': 2000},
 '331': {'year': 1999},
 '332': {'year': 2009},
 '333': {'year': 1999},
 '334': {'year': 2008},
 '335': {'year': 2010},
 '336': {'year': 2012},
 '337': {'year': 1991},
 '338': {'year': 2013},
 '339': {'year': 2004},
 '340': {'year': 2006},
 '341': {'year': 2012},
 '342': {'year': 2017},
 '343': {'year': 2007},
 '344': {'year': 2002},
 '345': {'year': 2014},
 '346': {'year': 2005},
 '347': {'year': 2016},
 '348': {'year': 2007},
 '349': {'year': 1999},
 '350': {'year': 2006},
 '351': {'year': 1978},
 '352': {'year': 1956},
 '353': {'year': 2000},
 '354': {'year': 1991},
 '355': {'year': 1992},
 '356': {'year': 2016},
 '357': {'year': 2003},
 '358': {'year': 2006},
 '359': {'year': 2005},
 '360': {'year': 2008},
 '361': {'year': 2001},
 '362': {'year': 2016},
 '363': {'year': 2012},
 '364': {'year': 2011},
 '365': {'year': 2015},
 '366': {'year': 1969},
 '367': {'year': 2013},
 '368': {'year': 2000},
 '369': {'year': 2010},
 '370': {'year': 1995},
 '371': {'year': 2006},
 '372': {'year': 1985},
 '373': {'year': 2005},
 '374': {'year': 1963},
 '375': {'year': 2008},
 '376': {'year': 2009},
 '377': {'year': 1975},
 '378': {'year': 2016},
 '379': {'year': 2012},
 '380': {'year': 2004},
 '381': {'year': 2004},
 '382': {'year': 1987},
 '383': {'year': 2006},
 '384': {'year': 2005},
 '385': {'year': 1993},
 '386': {'year': 1994},
 '387': {'year': 1995},
 '388': {'year': 1987},
 '389': {'year': 1977},
 '390': {'year': 2005},
 '391': {'year': 2010},
 '392': {'year': 2000},
 '393': {'year': 2002},
 '394': {'year': 2014},
 '395': {'year': 2005},
 '396': {'year': 2014},
 '397': {'year': 1965},
 '398': {'year': 1999},
 '399': {'year': 1997},
 '400': {'year': 2016},
 '401': {'year': 2009},
 '402': {'year': 1986},
 '403': {'year': 1977},
 '404': {'year': 1999},
 '405': {'year': 2005},
 '406': {'year': 2002},
 '407': {'year': 2015},
 '408': {'year': 2012},
 '409': {'year': 2014},
 '410': {'year': 2011},
 '411': {'year': 2009},
 '412': {'year': 2000},
 '413': {'year': 2002},
 '414': {'year': 1993},
 '415': {'year': 1975},
 '416': {'year': 1988},
 '417': {'year': 2006},
 '418': {'year': 2012},
 '419': {'year': 2016},
 '420': {'year': 2002},
 '421': {'year': 2007},
 '422': {'year': 2015},
 '423': {'year': 1994},
 '424': {'year': 2009},
 '425': {'year': 1984},
 '426': {'year': 2012},
 '427': {'year': 2006},
 '428': {'year': 1994},
 '429': {'year': 1981},
 '430': {'year': 2013},
 '431': {'year': 2017},
 '432': {'year': 1996},
 '433': {'year': 1982},
 '434': {'year': 2003},
 '435': {'year': 2003},
 '436': {'year': 1997},
 '437': {'year': 2008},
 '438': {'year': 1997},
 '439': {'year': 2001},
 '440': {'year': 2011},
 '441': {'year': 2005},
 '442': {'year': 1975},
 '443': {'year': 2004},
 '444': {'year': 2013},
 '445': {'year': 1994},
 '446': {'year': 2006},
 '447': {'year': 1996},
 '448': {'year': 2009},
 '449': {'year': 2000},
 '450': {'year': 2011},
 '451': {'year': 1999},
 '452': {'year': 2005},
 '453': {'year': 1997},
 '454': {'year': 2007},
 '455': {'year': 2001},
 '456': {'year': 2005},
 '457': {'year': 2014},
 '458': {'year': 2014},
 '459': {'year': 2002},
 '460': {'year': 2004},
 '461': {'year': 2016},
 '462': {'year': 1991},
 '463': {'year': 2007},
 '464': {'year': 1980},
 '465': {'year': 1985},
 '466': {'year': 2007},
 '467': {'year': 2011},
 '468': {'year': 1982},
 '469': {'year': 2007},
 '470': {'year': 1985},
 '471': {'year': 1997},
 '472': {'year': 1979},
 '473': {'year': 2001},
 '474': {'year': 2002},
 '475': {'year': 2010},
 '476': {'year': 2004},
 '477': {'year': 2014},
 '478': {'year': 2011},
 '479': {'year': 2015},
 '480': {'year': 2009},
 '481': {'year': 2002},
 '482': {'year': 2004},
 '483': {'year': 1993},
 '484': {'year': 2014},
 '485': {'year': 1960},
 '486': {'year': 2005},
 '487': {'year': 1989},
 '488': {'year': 2015},
 '489': {'year': 1999},
 '490': {'year': 2000},
 '491': {'year': 2012},
 '492': {'year': 1997},
 '493': {'year': 1999},
 '494': {'year': 1991},
 '495': {'year': 2017},
 '496': {'year': 2005},
 '497': {'year': 2012},
 '498': {'year': 2008},
 '499': {'year': 1995},
 '500': {'year': 2007},
 '501': {'year': 2017},
 '502': {'year': 1992},
 '503': {'year': 2003},
 '504': {'year': 1998},
 '505': {'year': 1988},
 '506': {'year': 2008},
 '507': {'year': 2008},
 '508': {'year': 1989},
 '509': {'year': 2003},
 '510': {'year': 1995},
 '511': {'year': 1981},
 '512': {'year': 1982},
 '513': {'year': 2016},
 '514': {'year': 2007},
 '515': {'year': 1990},
 '516': {'year': 2008},
 '517': {'year': 2014},
 '518': {'year': 2002},
 '519': {'year': 1968},
 '520': {'year': 2009},
 '521': {'year': 2005},
 '522': {'year': 2008},
 '523': {'year': 2012},
 '524': {'year': 2006},
 '525': {'year': 2014},
 '526': {'year': 2007},
 '527': {'year': 1997},
 '528': {'year': 1992},
 '529': {'year': 2014},
 '530': {'year': 2015},
 '531': {'year': 2011},
 '532': {'year': 2016},
 '533': {'year': 2010},
 '534': {'year': 2003},
 '535': {'year': 1993},
 '536': {'year': 2010},
 '537': {'year': 1999},
 '538': {'year': 1968},
 '539': {'year': 1998},
 '540': {'year': 2017},
 '541': {'year': 1981},
 '542': {'year': 2008},
 '543': {'year': 1987},
 '544': {'year': 1994},
 '545': {'year': 1962},
 '546': {'year': 1980},
 '547': {'year': 1999},
 '548': {'year': 2014},
 '549': {'year': 2006},
 '550': {'year': 1995},
 '551': {'year': 2003},
 '552': {'year': 2013},
 '553': {'year': 2007},
 '554': {'year': 2011},
 '555': {'year': 1984},
 '556': {'year': 2007},
 '557': {'year': 1987},
 '558': {'year': 2014},
 '559': {'year': 1979},
 '560': {'year': 2010},
 '561': {'year': 1996},
 '562': {'year': 2007},
 '563': {'year': 2000},
 '564': {'year': 2005},
 '565': {'year': 2007},
 '566': {'year': 1993},
 '567': {'year': 2014},
 '568': {'year': 2011},
 '569': {'year': 2016},
 '570': {'year': 1985},
 '571': {'year': 2005},
 '572': {'year': 2009},
 '573': {'year': 2013},
 '574': {'year': 2015},
 '575': {'year': 1998},
 '576': {'year': 2011},
 '577': {'year': 1988},
 '578': {'year': 2006},
 '579': {'year': 2004},
 '580': {'year': 1989},
 '581': {'year': 2015},
 '582': {'year': 2001},
 '583': {'year': 2006},
 '584': {'year': 2015},
 '585': {'year': 2007},
 '586': {'year': 1996},
 '587': {'year': 2013},
 '588': {'year': 2006},
 '589': {'year': 2009},
 '590': {'year': 1977},
 '591': {'year': 1984},
 '592': {'year': 1994},
 '593': {'year': 1990},
 '594': {'year': 2009},
 '595': {'year': 1997},
 '596': {'year': 2012},
 '597': {'year': 2005},
 '598': {'year': 2012},
 '599': {'year': 2008},
 '600': {'year': 1958},
 '601': {'year': 2009},
 '602': {'year': 1997},
 '603': {'year': 2006},
 '604': {'year': 2015},
 '605': {'year': 2004},
 '606': {'year': 2010},
 '607': {'year': 2015},
 '608': {'year': 1967},
 '609': {'year': 2006},
 '610': {'year': 2008},
 '611': {'year': 2006},
 '612': {'year': 2013},
 '613': {'year': 2003},
 '614': {'year': 1988},
 '615': {'year': 2010},
 '616': {'year': 2012},
 '617': {'year': 2001},
 '618': {'year': 2008},
 '619': {'year': 1998},
 '620': {'year': 2004},
 '621': {'year': 2009},
 '622': {'year': 1969},
 '623': {'year': 2011},
 '624': {'year': 1996},
 '625': {'year': 1989},
 '626': {'year': 2001},
 '627': {'year': 1980},
 '628': {'year': 2001},
 '629': {'year': 2013},
 '630': {'year': 1979},
 '631': {'year': 2016},
 '632': {'year': 2007},
 '633': {'year': 2010},
 '634': {'year': 1982},
 '635': {'year': 2010},
 '636': {'year': 1987},
 '637': {'year': 2000},
 '638': {'year': 1997},
 '639': {'year': 2011},
 '640': {'year': 1998},
 '641': {'year': 2000},
 '642': {'year': 1970},
 '643': {'year': 2012},
 '644': {'year': 1996},
 '645': {'year': 2001},
 '646': {'year': 2006},
 '647': {'year': 2012},
 '648': {'year': 2011},
 '649': {'year': 2001},
 '650': {'year': 1979},
 '651': {'year': 2012},
 '652': {'year': 2010},
 '653': {'year': 2010},
 '654': {'year': 1990},
 '655': {'year': 2013},
 '656': {'year': 2004},
 '657': {'year': 2014},
 '658': {'year': 2010},
 '659': {'year': 2011},
 '660': {'year': 2004},
 '661': {'year': 1971},
 '662': {'year': 2014},
 '663': {'year': 2009},
 '664': {'year': 2007},
 '665': {'year': 1977},
 '666': {'year': 1999},
 '667': {'year': 2009},
 '668': {'year': 1957},
 '669': {'year': 2015},
 '670': {'year': 2007},
 '671': {'year': 1976},
 '672': {'year': 2009},
 '673': {'year': 1980},
 '674': {'year': 2016},
 '675': {'year': 1990},
 '676': {'year': 2011},
 '677': {'year': 2016},
 '678': {'year': 2000},
 '679': {'year': 1978},
 '680': {'year': 2005},
 '681': {'year': 1999},
 '682': {'year': 2009},
 '683': {'year': 2008},
 '684': {'year': 2000},
 '685': {'year': 2009},
 '686': {'year': 1992},
 '687': {'year': 2015},
 '688': {'year': 2013},
 '689': {'year': 1997},
 '690': {'year': 2014},
 '691': {'year': 2009},
 '692': {'year': 2004},
 '693': {'year': 2015},
 '694': {'year': 2009},
 '695': {'year': 2006},
 '696': {'year': 2011},
 '697': {'year': 2000},
 '698': {'year': 1979},
 '699': {'year': 2009},
 '700': {'year': 1998},
 '701': {'year': 2006},
 '702': {'year': 2015},
 '703': {'year': 2004},
 '704': {'year': 1993},
 '705': {'year': 1973},
 '706': {'year': 2000},
 '707': {'year': 2014},
 '708': {'year': 2009},
 '709': {'year': 2009},
 '710': {'year': 2005},
 '711': {'year': 1985},
 '712': {'year': 1990},
 '713': {'year': 2011},
 '714': {'year': 2012},
 '715': {'year': 1982},
 '716': {'year': 1998},
 '717': {'year': 2012},
 '718': {'year': 1969},
 '719': {'year': 2003},
 '720': {'year': 2015},
 '721': {'year': 1992},
 '722': {'year': 2009},
 '723': {'year': 2007},
 '724': {'year': 2016},
 '725': {'year': 2009},
 '726': {'year': 2007},
 '727': {'year': 1980},
 '728': {'year': 2004},
 '729': {'year': 2015},
 '730': {'year': 1997},
 '731': {'year': 1976},
 '732': {'year': 2017},
 '733': {'year': 1996},
 '734': {'year': 1971},
 '735': {'year': 2011},
 '736': {'year': 2010},
 '737': {'year': 1991},
 '738': {'year': 2011},
 '739': {'year': 2010},
 '740': {'year': 2005},
 '741': {'year': 2012},
 '742': {'year': 1970},
 '743': {'year': 1971},
 '744': {'year': 1986},
 '745': {'year': 1994},
 '746': {'year': 2005},
 '747': {'year': 2015},
 '748': {'year': 2012},
 '749': {'year': 2016},
 '750': {'year': 2015},
 '751': {'year': 2005},
 '752': {'year': 2010},
 '753': {'year': 2007},
 '754': {'year': 2006},
 '755': {'year': 2017},
 '756': {'year': 1985},
 '757': {'year': 2013},
 '758': {'year': 1980},
 '759': {'year': 1981},
 '760': {'year': 1990},
 '761': {'year': 1993},
 '762': {'year': 2010},
 '763': {'year': 1987},
 '764': {'year': 2003},
 '765': {'year': 1985},
 '766': {'year': 1989},
 '767': {'year': 1976},
 '768': {'year': 2004},
 '769': {'year': 2015},
 '770': {'year': 1980},
 '771': {'year': 2013},
 '772': {'year': 1989},
 '773': {'year': 2002},
 '774': {'year': 1990},
 '775': {'year': 2010},
 '776': {'year': 2005},
 '777': {'year': 2007},
 '778': {'year': 1964},
 '779': {'year': 1998},
 '780': {'year': 2012},
 '781': {'year': 2014},
 '782': {'year': 2012},
 '783': {'year': 2011},
 '784': {'year': 2010},
 '785': {'year': 2000},
 '786': {'year': 1991},
 '787': {'year': 2003},
 '788': {'year': 1996},
 '789': {'year': 1997},
 '790': {'year': 2001},
 '791': {'year': 2010},
 '792': {'year': 2009},
 '793': {'year': 2013},
 '794': {'year': 2007},
 '795': {'year': 2007},
 '796': {'year': 2003},
 '797': {'year': 2016},
 '798': {'year': 2010},
 '799': {'year': 2014},
 '800': {'year': 2008},
 '801': {'year': 2000},
 '802': {'year': 2008},
 '803': {'year': 2008},
 '804': {'year': 2013},
 '805': {'year': 1995},
 '806': {'year': 2008},
 '807': {'year': 1998},
 '808': {'year': 2000},
 '809': {'year': 1993},
 '810': {'year': 2015},
 '811': {'year': 1987},
 '812': {'year': 1991},
 '813': {'year': 2015},
 '814': {'year': 1981},
 '815': {'year': 2013},
 '816': {'year': 2011},
 '817': {'year': 2004},
 '818': {'year': 1997},
 '819': {'year': 2013},
 '820': {'year': 2016},
 '821': {'year': 2013},
 '822': {'year': 2005},
 '823': {'year': 1993},
 '824': {'year': 2001},
 '825': {'year': 2015},
 '826': {'year': 1981},
 '827': {'year': 2014},
 '828': {'year': 2007},
 '829': {'year': 1987},
 '830': {'year': 2008},
 '831': {'year': 2008},
 '832': {'year': 2014},
 '833': {'year': 2005},
 '834': {'year': 1999},
 '835': {'year': 2002},
 '836': {'year': 2005},

In [15]:
for i, idx in enumerate(dic):
    row = dic[idx]
    row['year'] = dic_year[str(idx)]['year']
    row['cited'] = row['cited'].replace(chr(39), chr(34))

In [20]:
for i, idx in enumerate(dic):
    print(dic[idx])
    print(len(json.loads(dic[idx]['cited'])))
    if i > 5:
        break

{'cited': '[877113, 1738015, 1801628, 2375682, 2398534, 2574460, 3122433, 3392608, 3545645, 3593462, 4325752, 4787741, 4916987, 5489857, 5556256, 5615564, 6636660, 6729355, 6729360, 6887341, 6920577, 7009207, 7409995, 7617229, 7700168, 7730619, 7824727, 7825621, 7838344, 8227147, 8473347, 8631855, 9141446, 9327239, 9623822, 9761228, 10039120, 10540891, 10617720, 10866595, 11110006, 11227418, 11535220, 11693317]', 'year': 2009, 'cite_year': [1, 4, 6, 5, 9, 12, 3, 4, 0, 0]}
44
{'cited': '[]', 'year': 2013, 'cite_year': [0, 0, 0, 0, 0, 0]}
0
{'cited': '[]', 'year': 2001, 'cite_year': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
0
{'cited': '[6007977]', 'year': 2014, 'cite_year': [1, 0, 0, 0, 0]}
1
{'cited': '[10556783]', 'year': 1996, 'cite_year': [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
1
{'cited': '[11462079]', 'year': 1994, 'cite_year': [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
1
{'cited': '[1336601, 3208618, 8110377, 8384523, 10878929, 11426033]', 'year': 2007, 'cite_year': [0, 1, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0]}
6

In [19]:
for i, idx in enumerate(dic):
    row = dic[idx]
#     row['cite_year'] = [0] * (2018-row['year']+1)
    for ref_id in json.loads(row['cited']):
        try:
            row['cite_year'][dic[ref_id]['year']-row['year']] += 1
        except Exception as e:
            pass
    if i % 2_000_000 == 0:
        print(i)

0
2000000
4000000
6000000
8000000
10000000

In [34]:
total_cite = 0
for idx in dic.keys():
    total_cite += len(json.loads(dic[idx]['cited']))
print(total_cite)

104133469

In [22]:
df = pd.DataFrame.from_dict(dic, orient = 'index')
df.head()

,cited,year,cite_year
0,"[877113, 1738015, 1801628, 2375682, 2398534, 2...",2009,"[1, 4, 6, 5, 9, 12, 3, 4, 0, 0]"
1,[],2013,"[0, 0, 0, 0, 0, 0]"
2,[],2001,"[0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."
3,[6007977],2014,"[1, 0, 0, 0, 0]"
4,[10556783],1996,"[0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ..."

In [33]:
df.head()

     year                                          cite_year
nid
0    2009                    [1, 4, 6, 5, 9, 12, 3, 4, 0, 0]
1    2013                                 [0, 0, 0, 0, 0, 0]
2    2001  [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...
3    2014                                    [1, 0, 0, 0, 0]
4    1996  [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, ...

In [25]:
df.index.rename('nid', inplace=True)

In [27]:
len(df)

11763764

In [29]:
del df['cited']

In [32]:
df.to_csv('./data_zx/cite_year_new.csv')

In [35]:
for i, idx in enumerate(dic):
    print(dic[idx])
#     print(len(json.loads(dic[idx]['cited'])))
    if i > 5:
        break

{'cited': '[877113, 1738015, 1801628, 2375682, 2398534, 2574460, 3122433, 3392608, 3545645, 3593462, 4325752, 4787741, 4916987, 5489857, 5556256, 5615564, 6636660, 6729355, 6729360, 6887341, 6920577, 7009207, 7409995, 7617229, 7700168, 7730619, 7824727, 7825621, 7838344, 8227147, 8473347, 8631855, 9141446, 9327239, 9623822, 9761228, 10039120, 10540891, 10617720, 10866595, 11110006, 11227418, 11535220, 11693317]', 'year': 2009, 'cite_year': [1, 4, 6, 5, 9, 12, 3, 4, 0, 0]}
{'cited': '[]', 'year': 2013, 'cite_year': [0, 0, 0, 0, 0, 0]}
{'cited': '[]', 'year': 2001, 'cite_year': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{'cited': '[6007977]', 'year': 2014, 'cite_year': [1, 0, 0, 0, 0]}
{'cited': '[10556783]', 'year': 1996, 'cite_year': [0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{'cited': '[11462079]', 'year': 1994, 'cite_year': [0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0]}
{'cited': '[1336601, 3208618, 8110377, 8384523, 10878929, 11426033]', 'year': 2007, 'cite_year': [0, 1, 2, 2, 1, 0, 0, 0, 0, 0, 0, 0]}

In [36]:
cite_year_list = []
for idx in dic.keys():
    row = dic[idx]
    cite_year_list.append(row)
print(len(cite_year_list))

11763764

In [37]:
with open('./data_zx/cite_year_list.json', 'w') as f:
    json.dump(cite_year_list, f)

In [2]:
with open('./data_zx/cite_year_list.json', 'r') as f:
    cite_year = json.load(f)

In [3]:
cite_year[0]

{'cite_year': [1, 4, 6, 5, 9, 12, 3, 4, 0, 0],
 'cited': '[877113, 1738015, 1801628, 2375682, 2398534, 2574460, 3122433, 3392608, 3545645, 3593462, 4325752, 4787741, 4916987, 5489857, 5556256, 5615564, 6636660, 6729355, 6729360, 6887341, 6920577, 7009207, 7409995, 7617229, 7700168, 7730619, 7824727, 7825621, 7838344, 8227147, 8473347, 8631855, 9141446, 9327239, 9623822, 9761228, 10039120, 10540891, 10617720, 10866595, 11110006, 11227418, 11535220, 11693317]',
 'year': 2009}

In [6]:
for paper in cite_year:
    paper['cite_year'] = [0] * (2018-paper['year'])
    for ref_id in json.loads(paper['cited']):
        if (cite_year[ref_id]['year'] >= paper['year'])  and (cite_year[ref_id]['year'] != 2018):
            paper['cite_year'][cite_year[ref_id]['year'] - paper['year']] += 1

In [8]:
cite_year[:5]

[{'cite_year': [1, 4, 6, 5, 9, 12, 3, 4, 0],
  'cited': '[877113, 1738015, 1801628, 2375682, 2398534, 2574460, 3122433, 3392608, 3545645, 3593462, 4325752, 4787741, 4916987, 5489857, 5556256, 5615564, 6636660, 6729355, 6729360, 6887341, 6920577, 7009207, 7409995, 7617229, 7700168, 7730619, 7824727, 7825621, 7838344, 8227147, 8473347, 8631855, 9141446, 9327239, 9623822, 9761228, 10039120, 10540891, 10617720, 10866595, 11110006, 11227418, 11535220, 11693317]',
  'year': 2009},
 {'cite_year': [0, 0, 0, 0, 0], 'cited': '[]', 'year': 2013},
 {'cite_year': [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0],
  'cited': '[]',
  'year': 2001},
 {'cite_year': [1, 0, 0, 0], 'cited': '[6007977]', 'year': 2014},
 {'cite_year': [0,
   1,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0,
   0],
  'cited': '[10556783]',
  'year': 1996}]

In [11]:
type(cite_year[4]['cite_year'])

list

In [12]:
with open('./data_zx/cite_year_list.json', 'w') as f:
    json.dump(cite_year, f)