In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv('./data/rev_ref.csv').set_index('id')

In [3]:
df.head()

,cited,n_ref
id,,
000000b8-7f59-49ad-b9bc-e92aa858fc37,"['12c7bccb-5bd2-41e5-bce8-0dcd015f50e9', '254e...",38
0000015a-5721-4f2a-ac3f-a67ccd9812e0,['98734942-58fa-4c0b-9fcd-e9a99e269742'],0
000001c0-7bca-4c04-8668-75e693e81b7f,"['6ff4e527-9ccd-428e-98a5-0ff9d15da319', 'afe8...",0
000001ed-d83e-44d1-a95f-4e9ac13d9a39,[],8
00000237-cab2-43ae-ae63-9012f15afa2c,[],2

In [5]:
df.shape

(25344645, 2)

In [ ]:
train_df = pd.read_csv('./data/mag_new_reduced.csv', dtype={'field': str}).set_index('id')
train_df.head()

In [ ]:
df1 = train_df[['year']]
df1.head()

In [ ]:
df1.to_csv('./data/paper_year.csv', encoding = 'utf-8')

In [8]:
# with open('./data/all_id.json') as f:
#     all_ids = json.load(f, encoding='utf-8')

# dic_year = dict((ids, {'year': 0}) for ids in list(df.index))

In [ ]:
# year_df = pd.read_csv('./data/paper_year.csv').set_index('id')
print('total length:', len(df1))
year_dic = df1.to_dict(orient = 'index')
# for j, idx in enumerate(train_dic):
#     row = train_dic[idx]
#     dic_year[idx]['year'] = row['year']
#     if j % 200_000 == 0:
#         print(j)

In [ ]:
# df_year = pd.DataFrame.from_dict(dic_year, orient = 'index')

In [ ]:
# df = df.join(df_year)
# df.head()
df['year'] = df.apply(lambda x: 0)
df.head()

In [ ]:
dic1 = df.to_dict(orient = 'index')
for i, idx in enumerate(dic1):
    row = dic1[idx]
    row['year'] = year_dic[idx]['year']

In [ ]:
df['cite_year'] = df['year'].apply(lambda x: [0]*(2018-x+1))
# df['cite_year'] = df.apply(lambda row: [0] * (2018-row['year']+1))
df.head()

In [ ]:
dic = df.to_dict(orient = 'index')

In [ ]:
for i, idx in enumerate(dic):
    row = dic[idx]
    for ref_id in row['cited']:
        row['cite_year'][year_dic[ref_id]['year']-row['year']] += 1